n8n/backup/workflows/V5_Multi_Tenant_RAG_Workflow_Debug.json
[
  {
    "createdAt": "2025-10-31T02:06:39.710Z",
    "updatedAt": "2025-11-07T18:09:03.000Z",
    "id": "aQnmDID5D90HKpH2",
    "name": "LeadingAI RAG AI Agent V5 - Multi-Tenant (Fixed Connections)",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "model": "gpt-4.1-mini",
          "options": {}
        },
        "id": "595d21c8-4a42-4769-b2f3-94959f0f8c72",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1,
        "position": [
          -16,
          -1168
        ],
        "credentials": {
          "openAiApi": {
            "id": "RBm19JjNoAkDJgSY",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsonMode": "expressionData",
          "jsonData": "={{ $json.content || $json.data || $json.text || $json.concatenated_data }}",
          "options": {
            "metadata": {
              "metadataValues": [
                {
                  "name": "=file_id",
                  "value": "={{ $('Set File ID').first().json.file_id }}"
                },
                {
                  "name": "file_title",
                  "value": "={{ $('Set File ID').first().json.file_title }}"
                }
              ]
            }
          }
        },
        "id": "24d1003d-a5df-45a0-b06b-494a53556b3c",
        "name": "Default Data Loader",
        "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
        "typeVersion": 1,
        "position": [
          2720,
          208
        ]
      },
      {
        "parameters": {
          "model": "text-embedding-3-small",
          "options": {}
        },
        "id": "d5b61190-13df-4ad1-a846-35f9250cff9c",
        "name": "Embeddings OpenAI1",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1,
        "position": [
          2576,
          224
        ],
        "credentials": {
          "openAiApi": {
            "id": "RBm19JjNoAkDJgSY",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Agent Tools for RAG",
          "height": 80,
          "width": 295,
          "color": 4
        },
        "id": "61180382-d26d-4f56-b289-9f398300b777",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          912,
          -1040
        ]
      },
      {
        "parameters": {
          "content": "## Tool to Add a Google Drive File to Vector DB",
          "height": 80,
          "width": 5313,
          "color": 5
        },
        "id": "bc670122-187d-4f79-95a8-c95ee2aa80bd",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1568,
          -1184
        ]
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Set File ID').item.json.file_id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "text/plain"
              }
            }
          }
        },
        "id": "1c968ada-4017-445c-a886-86b6a3521079",
        "name": "Download File",
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          -16,
          -240
        ],
        "executeOnce": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "qWz7EzKhqsqG62fk",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "mode": "id",
            "value": "18q2yQ-vWjk8I9Isd7Oz1F3h-FrNxkvtF"
          },
          "event": "fileCreated",
          "options": {}
        },
        "id": "4ec161e4-61b7-461b-b10a-d4bc8b3b81ee",
        "name": "File Created",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -1808,
          -288
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "qWz7EzKhqsqG62fk",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "triggerOn": "specificFolder",
          "folderToWatch": {
            "__rl": true,
            "mode": "id",
            "value": "18q2yQ-vWjk8I9Isd7Oz1F3h-FrNxkvtF"
          },
          "event": "fileUpdated",
          "options": {}
        },
        "id": "858232e4-bc9f-4ab9-bb83-249a40ec6190",
        "name": "File Updated",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "typeVersion": 1,
        "position": [
          -1808,
          -96
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "qWz7EzKhqsqG62fk",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "operation": "text",
          "options": {}
        },
        "id": "7b797c07-9e04-41b7-a752-871dfaff502d",
        "name": "Extract Document Text",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1552,
          -32
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {},
        "id": "3e8eef4d-7398-40b4-80c8-c2f5e3afcf94",
        "name": "Postgres Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1,
        "position": [
          112,
          -1168
        ],
        "notesInFlow": false,
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
                "name": "file_id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "f4536df5-d0b1-4392-bf17-b8137fb31a44",
                "name": "file_type",
                "value": "={{ $json.mimeType }}",
                "type": "string"
              },
              {
                "id": "77d782de-169d-4a46-8a8e-a3831c04d90f",
                "name": "file_title",
                "value": "={{ $json.name }}",
                "type": "string"
              },
              {
                "id": "9bde4d7f-e4f3-4ebd-9338-dce1350f9eab",
                "name": "file_url",
                "value": "={{ $json.webViewLink }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "8c818c87-5960-4308-9945-f5f51d88f9a1",
        "name": "Set File ID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -816,
          -240
        ]
      },
      {
        "parameters": {
          "content": "## RAG AI Agent with Chat Interface",
          "height": 80,
          "width": 2636
        },
        "id": "295f2c12-f64a-4f8a-aa6a-e9b06091d9d1",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -960,
          -1664
        ]
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "66ae52b0-e2a6-4b62-82c0-5427e53ac4af",
        "name": "Respond to Webhook",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          1120,
          -1392
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9a9a245e-f1a1-4282-bb02-a81ffe629f0f",
                "name": "chatInput",
                "value": "={{ $json?.chatInput || $json.body.chatInput }}",
                "type": "string"
              },
              {
                "id": "b80831d8-c653-4203-8706-adedfdb98f77",
                "name": "sessionId",
                "value": "={{ $json?.sessionId || $json.body.sessionId}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "a44084bf-b21b-4186-b3b7-75454797cc6e",
        "name": "Edit Fields",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -240,
          -1392
        ]
      },
      {
        "parameters": {
          "public": true,
          "options": {}
        },
        "id": "19d26c6b-bfe0-4594-976a-74fa904cd3fc",
        "name": "When chat message received",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1.1,
        "position": [
          -912,
          -1488
        ],
        "webhookId": "e104e40e-6134-4825-a6f0-8a646d882662"
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "bf4dd093-bb02-472c-9454-7ab9af97bd1d",
          "authentication": "headerAuth",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "a3130ba1-5a42-41d4-8a46-35dc610e6d29",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          -912,
          -1296
        ],
        "webhookId": "bf4dd093-bb02-472c-9454-7ab9af97bd1d",
        "credentials": {
          "httpHeaderAuth": {
            "id": "aepYCqusdfXtsRHj",
            "name": "TwitterAPI"
          }
        }
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "id": "0194a305-bb6c-4659-9846-73ad4876036e",
        "name": "Extract PDF Text",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1552,
          -256
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "bca4b3e9-e2d4-4f43-b0e3-464ffa22d070",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1552,
          -864
        ]
      },
      {
        "parameters": {
          "fieldsToSummarize": {
            "values": [
              {
                "aggregation": "concatenate",
                "field": "data"
              }
            ]
          },
          "options": {}
        },
        "id": "5c942b46-e768-4b8d-a7e4-7d4934bbe15b",
        "name": "Summarize",
        "type": "n8n-nodes-base.summarize",
        "typeVersion": 1,
        "position": [
          1840,
          -864
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.chatInput }}",
          "options": {
            "systemMessage": "You are a personal assistant who helps answer questions from a corpus of documents. The documents are either text based (Txt, docs, extracted PDFs, etc.) or tabular data (CSVs or Excel documents).\n\nYou are given tools to perform RAG in the 'documents' table, look up the documents available in your knowledge base in the 'document_metadata' table, extract all the text from a given document, and query the tabular files with SQL in the 'document_rows' table.\n\nAlways start by performing RAG unless the question requires a SQL query for tabular data (fetching a sum, finding a max, something a RAG lookup would be unreliable for). If RAG doesn't help, then look at the documents that are available to you, find a few that you think would contain the answer, and then analyze those.\n\nUse the search_memory_nodes tool to search the knowledge graph. This is also called the graph tool.\n\nAlways tell the user if you didn't find the answer. Don't make something up just to please them."
          }
        },
        "id": "317cb877-2957-432b-af66-ba6034ac579a",
        "name": "RAG AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.6,
        "position": [
          304,
          -1392
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "2ae7faa7-a936-4621-a680-60c512163034",
                      "leftValue": "=FixedExpression{{ $('Set File ID').item.json.file_type }}FixedExpressionRename Output FixedExpression{{ $('Set File ID').item.json.file_type }}",
                      "rightValue": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "fc193b06-363b-4699-a97d-e5a850138b0e",
                      "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                      "rightValue": "=application/vnd.google-apps.spreadsheet",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                      "rightValue": "application/pdf",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "5fe78f9b-2ff3-4adc-954e-53bfce35c142"
                    }
                  ],
                  "combinator": "and"
                }
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "id": "b69f5605-0179-4b02-9a32-e34bb085f82d",
                      "leftValue": "={{ $('Set File ID').item.json.file_type }}",
                      "rightValue": "application/vnd.google-apps.document",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                }
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra"
          }
        },
        "id": "7bfb2e53-3191-4932-a4b5-f69bee51aa5c",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          1104,
          -288
        ]
      },
      {
        "parameters": {
          "operation": "xlsx",
          "options": {}
        },
        "id": "c8d45656-4fdd-4a64-a002-cc30aefa2a29",
        "name": "Extract from Excel",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1328,
          -784
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f422e2e0-381c-46ea-8f38-3f58c501d8b9",
                "name": "schema",
                "value": "={{ $('Extract from Excel').isExecuted ? $('Extract from Excel').first().json.keys().toJsonString() : $('Extract from CSV').first().json.keys().toJsonString() }}",
                "type": "string"
              },
              {
                "id": "bb07c71e-5b60-4795-864c-cc3845b6bc46",
                "name": "data",
                "value": "={{ $json.concatenated_data }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2160,
          -864
        ],
        "id": "eb1e8891-b300-4d23-92cb-dc9788837503",
        "name": "Set Schema"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1328,
          -576
        ],
        "id": "6a7168be-a918-42c4-b239-6a72085a59a6",
        "name": "Extract from CSV"
      },
      {
        "parameters": {
          "content": "## Run Each Node Once to Set Up Database Tables",
          "height": 300,
          "width": 680,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -1808,
          304
        ],
        "typeVersion": 1,
        "id": "b2276693-464a-4b65-bd37-aeaac35a3e3d",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Use this tool to fetch all available documents, including the table schema if the file is a CSV or Excel file.",
          "operation": "select",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "document_metadata",
            "mode": "list",
            "cachedResultName": "document_metadata"
          },
          "returnAll": true,
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.5,
        "position": [
          240,
          -1168
        ],
        "id": "058a0964-680a-4691-92d0-04df98ffd6a2",
        "name": "List Documents",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        },
        "notes": "Lists documents for current tenant only"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Given a file ID, fetches the text from the document.",
          "operation": "executeQuery",
          "query": "SELECT\n    string_agg(text, ' ') as document_text\nFROM documents_pg\nWHERE tenant_id = '{{ $('Set Tenant Context').item.json.tenant_id }}'\n  AND is_deleted = FALSE\n  AND metadata->>'file_id' = $1\nGROUP BY metadata->>'file_id';",
          "options": {
            "queryReplacement": "={{ $fromAI('file_id') }}"
          }
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.5,
        "position": [
          368,
          -1168
        ],
        "id": "66178856-6012-4ff7-a3f1-80b521a31729",
        "name": "Get File Contents",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        },
        "notes": "Gets file contents with tenant isolation"
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Run a SQL query - use this to query from the document_rows table once you know the file ID you are querying.\n\nIMPORTANT: Always include tenant_id filter:\nWHERE tenant_id = '{{ $('Set Tenant Context').item.json.tenant_id }}' AND dataset_id = 'file_id' AND is_deleted = FALSE\n\ndataset_id is the file_id and you are always using the row_data for filtering, which is a jsonb field.\n\nExample query:\nSELECT AVG((row_data->>'revenue')::numeric)\nFROM document_rows\nWHERE tenant_id = '{{ $('Set Tenant Context').item.json.tenant_id }}'\n  AND dataset_id = '123'\n  AND is_deleted = FALSE;",
          "operation": "executeQuery",
          "query": "{{ $fromAI('sql_query') }}",
          "options": {}
        },
        "type": "n8n-nodes-base.postgresTool",
        "typeVersion": 2.5,
        "position": [
          496,
          -1168
        ],
        "id": "902af0ff-854c-4020-bdd3-ce4ee19f9dd2",
        "name": "Query Document Rows",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1.2,
        "position": [
          640,
          -960
        ],
        "id": "6de32ea6-19ac-4927-83a6-4c2706915008",
        "name": "Embeddings OpenAI2",
        "credentials": {
          "openAiApi": {
            "id": "RBm19JjNoAkDJgSY",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "reset": false
          }
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -1392,
          -208
        ],
        "id": "de6275e2-53cb-4a89-ae86-1c3cc4a0ee4d",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "document_metadata",
            "mode": "list",
            "cachedResultName": "document_metadata"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $json.id }}",
              "title": "={{ $json.title }}",
              "url": "={{ $json.url }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": true,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "title",
                "displayName": "title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false
              },
              {
                "id": "url",
                "displayName": "url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "schema",
                "displayName": "schema",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -208,
          -240
        ],
        "id": "7fd78e32-47ad-496b-b002-3794cd53d4cb",
        "name": "Insert Document Metadata",
        "executeOnce": true,
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "document_rows",
            "mode": "list",
            "cachedResultName": "document_rows"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "dataset_id": "={{ $('Set File ID').item.json.file_id }}",
              "row_data": "={{ $json.toJsonString().replaceAll(/'/g, \"''\") }}",
              "tenant_id": "={{ $('Set Tenant Context (GDrive)').item.json.tenant_id }}",
              "user_id": "={{ $('Set Tenant Context (GDrive)').item.json.user_id }}",
              "created_by": "={{ $('Set Tenant Context (GDrive)').item.json.created_by }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "number",
                "canBeUsedToMatch": true,
                "removed": true
              },
              {
                "id": "dataset_id",
                "displayName": "dataset_id",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "row_data",
                "displayName": "row_data",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "object",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          1552,
          -624
        ],
        "id": "616a4956-5c32-496b-8d31-c56face0cb2e",
        "name": "Insert Table Rows",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "upsert",
          "schema": {
            "__rl": true,
            "mode": "list",
            "value": "public"
          },
          "table": {
            "__rl": true,
            "value": "document_metadata",
            "mode": "list",
            "cachedResultName": "document_metadata"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "id": "={{ $('Set File ID').item.json.file_id }}",
              "schema": "={{ $json.schema }}",
              "tenant_id": "={{ $('Set Tenant Context (GDrive)').item.json.tenant_id }}"
            },
            "matchingColumns": [
              "id"
            ],
            "schema": [
              {
                "id": "id",
                "displayName": "id",
                "required": true,
                "defaultMatch": true,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "title",
                "displayName": "title",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "url",
                "displayName": "url",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": true
              },
              {
                "id": "created_at",
                "displayName": "created_at",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "dateTime",
                "canBeUsedToMatch": false
              },
              {
                "id": "schema",
                "displayName": "schema",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          2368,
          -864
        ],
        "id": "aeb4a4c5-fa65-47c3-aa5e-5b36e3c22a9a",
        "name": "Update Schema for Document Metadata",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "content": "## \ud83d\ude80 Ultimate n8n Agentic RAG Template\n\n**Author:** [Cole Medin](https://www.youtube.com/@ColeMedin)\n\n## What is this?\nThis template provides a complete implementation of an **Agentic RAG (Retrieval Augmented Generation)** system in n8n that can be extended easily for your specific use case and knowledge base. Unlike standard RAG which only performs simple lookups, this agent can reason about your knowledge base, self-improve retrieval, and dynamically switch between different tools based on the specific question. This agent uses Postgres with PGVector for the knowledgebase. You can use Supabase, Neon, self host Postgres, etc.\n\n## Why Agentic RAG?\nStandard RAG has significant limitations:\n- Poor analysis of numerical/tabular data\n- Missing context due to document chunking\n- Inability to connect information across documents\n- No dynamic tool selection based on question type\n\n## What makes this template powerful:\n- **Intelligent tool selection**: Switches between RAG lookups, SQL queries, or full document retrieval based on the question\n- **Complete document context**: Accesses entire documents when needed instead of just chunks\n- **Accurate numerical analysis**: Uses SQL for precise calculations on spreadsheet/tabular data\n- **Cross-document insights**: Connects information across your entire knowledge base\n- **Multi-file processing**: Handles multiple documents in a single workflow loop\n- **Efficient storage**: Uses JSONB in Postgres to store tabular data without creating new tables for each CSV\n\n## Getting Started\n1. Run the table creation nodes first to set up your database tables in Postgres\n2. Upload your documents through Google Drive (or swap out for a different file storage solution)\n3. The agent will process them automatically (chunking text, storing tabular data in Postgres)\n4. Start asking questions that leverage the agent's multiple reasoning approaches\n\n## Customization\nThis template provides a solid foundation that you can extend by:\n- Tuning the system prompt for your specific use case\n- Adding document metadata like summaries\n- Implementing more advanced RAG techniques\n- Optimizing for larger knowledge bases",
          "height": 1192,
          "width": 540,
          "color": 6
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -3152,
          -1152
        ],
        "typeVersion": 1,
        "id": "603eff2d-820c-4c0f-89b0-5aaa1833d658",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "topN": 4
        },
        "type": "@n8n/n8n-nodes-langchain.rerankerCohere",
        "typeVersion": 1,
        "position": [
          768,
          -960
        ],
        "id": "caf38229-df5c-4887-a477-3cc3d8d11a00",
        "name": "Reranker Cohere",
        "credentials": {
          "cohereApi": {
            "id": "5HU2bygkv8QB9axo",
            "name": "CohereApi (sys@ccg)"
          }
        }
      },
      {
        "parameters": {
          "mode": "retrieve-as-tool",
          "toolDescription": "Use RAG to look up information in the knowledgebase.",
          "tableName": "documents_pg",
          "topK": 25,
          "useReranker": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1.3,
        "position": [
          624,
          -1168
        ],
        "id": "655b90c7-6d8d-4322-b509-90a6afc6b7fd",
        "name": "Postgres PGVector Store",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        },
        "notes": "RAG retrieval with tenant isolation"
      },
      {
        "parameters": {
          "mode": "insert",
          "tableName": "documents_pg",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
        "typeVersion": 1.3,
        "position": [
          2656,
          -32
        ],
        "id": "5ec91bf6-ec08-4d2e-a6c5-2651189f46ef",
        "name": "Postgres PGVector Store1",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://www.googleapis.com/drive/v3/files",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "googleDriveOAuth2Api",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "'1g7rnJHz14qbKel3CchFM6S0osMgXXblT' in parents and trashed = true"
              },
              {
                "name": "fields",
                "value": "files(id,name,mimeType,webViewLink,trashed,trashedTime)"
              },
              {
                "name": "pageSize",
                "value": "1000"
              }
            ]
          },
          "options": {}
        },
        "id": "550abf16-0775-42be-a540-c47e75f90e1f",
        "name": "Get Trashed Files via API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -688,
          704
        ],
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "qWz7EzKhqsqG62fk",
            "name": "Google Drive account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse the response from Google Drive API\nconst response = $input.first().json;\nconst trashedFiles = response.files || [];\n\nif (trashedFiles.length === 0) {\n  return [{ message: 'No trashed files found', count: 0 }];\n}\n\n// Return each file as a separate item for processing\nreturn trashedFiles.map(file => ({\n  file_id: file.id,\n  file_name: file.name,\n  file_type: file.mimeType,\n  file_url: file.webViewLink,\n  trashed_time: file.trashedTime\n}));"
        },
        "id": "43534775-fd4d-451e-87fe-95713a82614b",
        "name": "Parse Trashed Files",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -464,
          704
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "7bb1b015-04f0-4d6c-8159-6e8010801922",
                "leftValue": "",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "4667b2a7-d9e8-458d-89fd-5fded3d9fc0a",
        "name": "Has Files to Delete?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -240,
          704
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT id FROM document_metadata WHERE id = '{{ $json.file_id }}'",
          "options": {}
        },
        "id": "5519fff4-bd90-48cb-862f-b0adc1f9a6cf",
        "name": "Check If Exists in DB",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          -16,
          704
        ],
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "992a20a8-5b6a-4ea4-b021-7458435e131a",
                "leftValue": "",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "bd7704ff-1e18-4475-a875-5a713ba687ee",
        "name": "Exists in DB?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          208,
          704
        ]
      },
      {
        "parameters": {
          "content": "## Vector Store Cleanup (Periodically)\nScan the Google Drive Folder regularely and deletes non existent documents from the vector store as well.",
          "height": 80,
          "width": 1976,
          "color": 6
        },
        "id": "fea9f96d-5ef1-4ae8-9bb5-8715ef147dc1",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -944,
          608
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT soft_delete_document(\n    '{{ $('Set Tenant Context').item.json.tenant_id }}',\n    '{{ $('Parse Trashed Files').first().json.file_id }}',\n    'system_cleanup'\n);",
          "options": {}
        },
        "id": "37d63907-4b97-4828-92a3-eac3d8d12a3f",
        "name": "Soft Delete Metadata (Cleanup)",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          928,
          704
        ],
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 15
              }
            ]
          }
        },
        "id": "cccea34a-d5c1-4179-9036-1f1912e7f413",
        "name": "Check Every 15 Minutes",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.1,
        "position": [
          -912,
          704
        ]
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT soft_delete_document(\n    '{{ $('Set Tenant Context').item.json.tenant_id }}',\n    $1,\n    'system_cleanup'\n);",
          "options": {
            "queryReplacement": "={{ $('Parse Trashed Files').item.json.file_id }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          480,
          704
        ],
        "id": "0ded943a-9403-4f13-8596-d5272c5c44e1",
        "name": "Soft Delete Old Documents (Cleanup)",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE document_rows\nSET is_deleted = TRUE,\n    deleted_at = NOW(),\n    deleted_by = 'system_cleanup'\nWHERE tenant_id = '{{ $('Set Tenant Context').item.json.tenant_id }}'\n  AND dataset_id LIKE '%' || $1 || '%';",
          "options": {
            "queryReplacement": "={{ $('Parse Trashed Files').first().json.file_id }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          704,
          704
        ],
        "id": "c48fba8d-2895-4928-96f9-3b1945ac4e23",
        "name": "Soft Delete Old Doc Rows (Cleanup)",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
        "typeVersion": 1,
        "position": [
          2864,
          384
        ],
        "id": "9d53a48c-be09-4684-a774-8e16830f2c15",
        "name": "Recursive Character Text Splitter"
      },
      {
        "parameters": {
          "code": {
            "execute": {
              "code": "const { PromptTemplate } = require('@langchain/core/prompts');\n\nconst documentContent = $input.item.json?.data || $input.item.json?.text;\nconst maxChunkSize = 1000;\nconst minChunkSize = 400;\n\nif (!documentContent) {\n    throw new Error('No document found in input');\n}\n\nconst llm = await this.getInputConnectionData('ai_languageModel', 0);\n\nfunction cleanText(text) {\n    return text.replace(/\\s+/g, ' ').trim();\n}\n\nconst chunks = [];\nlet remainingText = cleanText(documentContent);\nlet chunkNumber = 1;\n\nif (remainingText.length <= maxChunkSize) {\n    chunks.push({\n        content: remainingText,\n        chunk: chunkNumber,\n        chunk_size: remainingText.length\n    });\n} else {\n    while (remainingText) {\n        const textToAnalyze = remainingText.substring(0, maxChunkSize);\n        \n        const promptText = `You are analyzing a document to find the best transition point to split it into meaningful sections.\n\nYour goal: Keep related content together and split where topics naturally transition.\n\nRead this text carefully and identify where one topic/section ends and another begins:\n\n${textToAnalyze}\n\nFind the best transition point that occurs BEFORE character position ${maxChunkSize}.\n\nLook for:\n- Section headings or topic changes\n- Paragraph boundaries where the subject shifts\n- Complete conclusions before new ideas start\n- Natural breaks between different aspects of the content\n\nOutput the LAST WORD that appears right before your chosen split point.\nJust the single word itself, nothing else.\nExample: If you want to split after \"The company was founded in 2022.\" then output: \"2022\"`;\n        \n        const prompt = PromptTemplate.fromTemplate(promptText);\n        const chain = prompt.pipe(llm);\n        \n        let breakPoint = maxChunkSize;\n        \n        try {\n            const response = await chain.invoke();\n            const responseText = response.content || response.text || response.toString();\n            const breakWord = responseText.trim();\n            \n            if (breakWord) {\n                // Find the last occurrence of this word in the text to analyze\n                const wordIndex = textToAnalyze.lastIndexOf(breakWord);\n                if (wordIndex !== -1) {\n                    // Split after the word (including any punctuation that follows)\n                    breakPoint = wordIndex + breakWord.length;\n                    // Move past any punctuation or single space after the word\n                    while (breakPoint < textToAnalyze.length && \n                           (textToAnalyze[breakPoint] === '.' || \n                            textToAnalyze[breakPoint] === '!' || \n                            textToAnalyze[breakPoint] === '?' || \n                            textToAnalyze[breakPoint] === ',' || \n                            textToAnalyze[breakPoint] === ';' || \n                            textToAnalyze[breakPoint] === ':' || \n                            textToAnalyze[breakPoint] === ' ')) {\n                        breakPoint++;\n                        // Stop after moving past one space\n                        if (textToAnalyze[breakPoint - 1] === ' ') break;\n                    }\n                    breakPoint = Math.min(breakPoint, maxChunkSize);\n                }\n            }\n        } catch (error) {\n            console.log('LLM failed to determine breakpoint, using max size:', error.message);\n            breakPoint = maxChunkSize;\n        }\n        \n        const chunk = remainingText.substring(0, breakPoint).trim();\n        \n        if (chunk) {\n            chunks.push({\n                content: chunk,\n                chunk: chunkNumber,\n                chunk_size: chunk.length\n            });\n            chunkNumber++;\n        }\n        \n        remainingText = remainingText.substring(breakPoint).trim();\n        \n        if (!remainingText) {\n            break;\n        }\n    }\n}\n\n// Merge chunks that are below minimum size with adjacent chunks if possible\nlet i = 0;\nwhile (i < chunks.length) {\n    if (chunks[i].chunk_size < minChunkSize) {\n        // Try to merge with next chunk first if it exists and won't exceed max\n        if (i + 1 < chunks.length && \n            chunks[i].chunk_size + chunks[i + 1].chunk_size <= maxChunkSize) {\n            // Merge current with next\n            chunks[i].content += ' ' + chunks[i + 1].content;\n            chunks[i].chunk_size = chunks[i].content.length;\n            chunks.splice(i + 1, 1);\n            // Don't increment i, check this chunk again in case it's still small\n        } \n        // Otherwise try to merge with previous chunk if it exists and won't exceed max\n        else if (i > 0 && \n                 chunks[i - 1].chunk_size + chunks[i].chunk_size <= maxChunkSize) {\n            // Merge current into previous\n            chunks[i - 1].content += ' ' + chunks[i].content;\n            chunks[i - 1].chunk_size = chunks[i - 1].content.length;\n            chunks.splice(i, 1);\n            // Don't increment i, we removed current chunk\n        } else {\n            // Can't merge without exceeding max, move on\n            i++;\n        }\n    } else {\n        i++;\n    }\n}\n\nconst returnData = chunks.map(chunk => ({\n    json: chunk\n}));\n\nreturn returnData;"
            }
          },
          "inputs": {
            "input": [
              {
                "type": "ai_languageModel",
                "maxConnections": 1,
                "required": true
              },
              {
                "type": "main",
                "required": true
              }
            ]
          },
          "outputs": {
            "output": [
              {
                "type": "main"
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.code",
        "typeVersion": 1,
        "position": [
          1776,
          -368
        ],
        "id": "cac336bd-2d16-490e-842e-6b88b34c426a",
        "name": "LangChain Code"
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "gpt-4.1"
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          1856,
          -192
        ],
        "id": "8798fa9d-13fb-41fe-81d4-8483f34c78f7",
        "name": "OpenAI Chat Model1",
        "credentials": {
          "openAiApi": {
            "id": "RBm19JjNoAkDJgSY",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Improvements\n- Knowledge GRAPH (NEO4J)\n- Contextual Embedding",
          "height": 588,
          "width": 280,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -2560,
          -1552
        ],
        "typeVersion": 1,
        "id": "cd00b33e-1fb7-4e66-88cc-e6d20f8556ef",
        "name": "Sticky Note4"
      },
      {
        "parameters": {
          "content": "## Agentic Chunking \n",
          "height": 80,
          "width": 256,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1760,
          -480
        ],
        "id": "f0e87143-42ff-4406-8e06-c97b4b4a906e",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Graph RAG \n",
          "height": 80,
          "width": 208,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2160,
          -208
        ],
        "id": "c8858da2-c486-4461-ac20-79473f06900c",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "connectionType": "sse",
          "operation": "executeTool",
          "toolName": "add_memory",
          "toolParameters": "={\n  \"name\": {{ JSON.stringify($('Download File').item.json.title) }},\n  \"episode_body\": {{ JSON.stringify($input.item.json?.data || $input.item.json?.text) }}\n}"
        },
        "type": "n8n-nodes-mcp.mcpClient",
        "typeVersion": 1,
        "position": [
          2192,
          -64
        ],
        "id": "c75d3b56-6cbb-4c8f-b65f-5f4ccbce3188",
        "name": "MCP Client - Add to Knowledge Graph",
        "credentials": {
          "mcpClientSseApi": {
            "id": "j9tI8Ns5pu5tBgW4",
            "name": "MCP (SSE) Graphiti"
          }
        }
      },
      {
        "parameters": {
          "connectionType": "sse",
          "operation": "executeTool",
          "toolName": "search_memory_nodes",
          "toolParameters": "={\"query\": {{ JSON.stringify($fromAI('query')) }}}"
        },
        "type": "n8n-nodes-mcp.mcpClientTool",
        "typeVersion": 1,
        "position": [
          912,
          -1168
        ],
        "id": "64226aed-aab3-4714-af1d-bcd28f5ed577",
        "name": "Graph Tool",
        "credentials": {
          "mcpClientSseApi": {
            "id": "j9tI8Ns5pu5tBgW4",
            "name": "MCP (SSE) Graphiti"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// JWT Validation and Tenant Extraction\n// Extract JWT from Authorization header\nconst authHeader = $input.item.json.headers?.authorization ||\n                   $input.item.json.headers?.Authorization ||\n                   $input.item.json.Authorization;\n\nif (!authHeader || !authHeader.startsWith('Bearer ')) {\n    // For testing: allow default tenant if no JWT\n    console.log('Warning: No JWT provided, using default tenant');\n    return [{\n        tenant_id: 'default',\n        user_id: 'system',\n        email: 'system@default.local',\n        role: 'admin',\n        jwt_valid: false,\n        warning: 'No JWT provided - using default tenant'\n    }];\n}\n\nconst token = authHeader.replace('Bearer ', '');\n\ntry {\n    // Decode JWT (base64 decode the payload)\n    const parts = token.split('.');\n    if (parts.length !== 3) {\n        throw new Error('Invalid JWT format');\n    }\n\n    const base64Url = parts[1];\n    const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');\n    const jsonPayload = decodeURIComponent(\n        atob(base64)\n            .split('')\n            .map(c => '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2))\n            .join('')\n    );\n\n    const payload = JSON.parse(jsonPayload);\n\n    // Extract tenant_id from JWT claims\n    const tenantId = payload.tenant_id || payload.app_metadata?.tenant_id;\n\n    if (!tenantId) {\n        console.log('Warning: JWT does not contain tenant_id, using default');\n        return [{\n            tenant_id: 'default',\n            user_id: payload.sub || 'unknown',\n            email: payload.email || 'unknown@unknown.local',\n            role: payload.user_role || payload.app_metadata?.role || 'viewer',\n            jwt_valid: true,\n            warning: 'No tenant_id in JWT - using default'\n        }];\n    }\n\n    // Return tenant context\n    return [{\n        tenant_id: tenantId,\n        user_id: payload.sub || 'unknown',\n        email: payload.email || 'unknown@unknown.local',\n        role: payload.user_role || payload.app_metadata?.role || 'viewer',\n        jwt_valid: true,\n        jwt_exp: payload.exp,\n        jwt_iat: payload.iat\n    }];\n\n} catch (error) {\n    console.error('JWT validation error:', error.message);\n    // Fallback to default tenant on error\n    return [{\n        tenant_id: 'default',\n        user_id: 'error',\n        email: 'error@error.local',\n        role: 'viewer',\n        jwt_valid: false,\n        error: error.message\n    }];\n}\n"
        },
        "id": "fc18ff61-9593-4640-8d47-94495e952e9c",
        "name": "JWT Validate & Extract Tenant",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -688,
          -1392
        ],
        "notes": "Validates JWT and extracts tenant_id, user_id, and role for multi-tenant isolation"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a979503d-335c-4705-92cc-154a09e26215",
                "name": "tenant_id",
                "value": "={{ $json.tenant_id }}",
                "type": "string"
              },
              {
                "id": "69cfc93b-5af7-48dd-a603-67547316a142",
                "name": "user_id",
                "value": "={{ $json.user_id }}",
                "type": "string"
              },
              {
                "id": "eed6c9a9-2497-45cf-b8a8-cbc32e92956b",
                "name": "created_by",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "ba0876d0-ccae-4d7f-b126-ae290724cd87",
                "name": "role",
                "value": "={{ $json.role }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "b5844e34-e1e2-4df5-8e24-bfbd7d4e7eff",
        "name": "Set Tenant Context",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -464,
          -1392
        ],
        "notes": "Sets tenant context variables accessible throughout workflow"
      },
      {
        "parameters": {
          "jsCode": "// Calculate SHA-256 hash of document content\nconst crypto = require('crypto');\n\nconst binaryData = $input.first().binary?.data;\n\nif (!binaryData) {\n    throw new Error('No binary data found for hashing');\n}\n\n// Get binary buffer\nconst buffer = Buffer.from(binaryData.data);\n\n// Calculate SHA-256 hash\nconst hash = crypto.createHash('sha256').update(buffer).digest('hex');\n\nreturn [{\n    json: {\n        content_hash: hash,\n        file_size: buffer.length,\n        ...($input.first().json || {})\n    },\n    binary: $input.first().binary\n}];\n"
        },
        "id": "099ba87a-4739-4593-87e0-99f21358997d",
        "name": "Calculate Content Hash",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          192,
          -480
        ],
        "notes": "Calculates SHA-256 hash for version detection"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT\n    id,\n    version_number,\n    content_hash,\n    is_current\nFROM document_metadata\nWHERE tenant_id = '{{ $('Set Tenant Context').item.json.tenant_id }}'\n  AND id = '{{ $('Set File ID').item.json.file_id }}'\n  AND is_deleted = FALSE\nORDER BY version_number DESC\nLIMIT 1;",
          "options": {}
        },
        "id": "53f69765-f523-46ba-821f-b2162598dd09",
        "name": "Check Existing Version",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          416,
          -480
        ],
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        },
        "continueOnFail": true,
        "notes": "Checks if document exists and retrieves current version"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "id": "31391ac3-7ebb-492e-9314-a10f6b6e7693",
                "leftValue": "={{ $('Check Existing Version').item.json.content_hash }}",
                "rightValue": "={{ $('Calculate Content Hash').item.json.content_hash }}",
                "operator": {
                  "type": "string",
                  "operation": "notEquals",
                  "name": "filter.operator.notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "085ddddb-f934-477c-99c4-16fb55330429",
        "name": "Content Changed?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          640,
          -480
        ],
        "notes": "Checks if content hash has changed (new version)"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT create_document_version(\n    '{{ $('Set Tenant Context').item.json.tenant_id }}',\n    '{{ $('Set File ID').item.json.file_id }}',\n    '{{ $('Set File ID').item.json.file_id }}_v{{ $('Check Existing Version').item.json.version_number + 1 }}',\n    '{{ $('Calculate Content Hash').item.json.content_hash }}',\n    '{{ $('Set Tenant Context').item.json.created_by }}',\n    'Document updated via workflow'\n) as new_version_number;",
          "options": {}
        },
        "id": "c12ece34-beea-46de-8f37-d15f40e166ea",
        "name": "Create New Version",
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.5,
        "position": [
          864,
          -608
        ],
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        },
        "notes": "Creates new document version if content changed"
      },
      {
        "parameters": {
          "jsCode": "// Map Google Drive folders to tenant context\nconst folderMap = {\n  '18q2yQ-vWjk8I9Isd7Oz1F3h-FrNxkvtF': {\n    tenant_id: 'mk3029839',\n    user_id: 'b6015d8d-e018-46b2-a1ff-3598a13f10c1',\n    email: 'gwasmuth@gmail.com',\n    role: 'admin'\n  }\n  // Add more folder mappings as needed\n};\n\nconst fileData = $input.item.json;\nconst folderId = fileData.parents?.[0] || 'unknown';\nconst tenantInfo = folderMap[folderId] || {\n  tenant_id: 'default',\n  user_id: 'system',\n  email: 'system@default.local',\n  role: 'viewer'\n};\n\nreturn [{ ...fileData, ...tenantInfo }];"
        },
        "id": "9365ad70-838d-4468-adc8-e21734fe58e1",
        "name": "Map Folder to Tenant",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1168,
          -96
        ],
        "notes": "Maps Google Drive folder IDs to tenant context"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a42dfb42-b0f9-4f19-b6e3-599852cbbddd",
                "name": "tenant_id",
                "value": "={{ $json.tenant_id }}",
                "type": "string"
              },
              {
                "id": "3eea885d-c4ca-4455-a275-b7a72c927aed",
                "name": "user_id",
                "value": "={{ $json.user_id }}",
                "type": "string"
              },
              {
                "id": "6c1d32ad-46e7-4b5d-b7cb-6989fd3d445d",
                "name": "created_by",
                "value": "={{ $json.email }}",
                "type": "string"
              },
              {
                "id": "ce3a3486-1c89-47f9-a062-a94287dc1e99",
                "name": "role",
                "value": "={{ $json.role }}",
                "type": "string"
              }
            ]
          },
          "options": {
            "keepOnlySet": false
          }
        },
        "id": "c7ed414f-29e0-4dfc-a60e-9c52d0719bfc",
        "name": "Set Tenant Context (GDrive)",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -992,
          -96
        ],
        "notes": "Sets tenant context for Google Drive uploads"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT soft_delete_document(\n    '{{ $('Set Tenant Context (GDrive)').item.json.tenant_id }}',\n    '{{ $('Set File ID').item.json.file_id }}',\n    '{{ $('Set Tenant Context (GDrive)').item.json.created_by }}'\n);",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -608,
          -240
        ],
        "id": "32d42e78-f028-45c1-88f3-8c4e4d4f7689",
        "name": "Soft Delete Old Documents",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        },
        "notes": "Soft-deletes old document version before creating new one"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "UPDATE document_rows\nSET is_deleted = TRUE,\n    deleted_at = NOW(),\n    deleted_by = '{{ $('Set Tenant Context (GDrive)').item.json.created_by }}'\nWHERE tenant_id = '{{ $('Set Tenant Context (GDrive)').item.json.tenant_id }}'\n  AND dataset_id = '{{ $('Set File ID').item.json.file_id }}'\n  AND is_deleted = FALSE;",
          "options": {}
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -400,
          -240
        ],
        "id": "a8bffa6d-252f-4dd8-9453-1f5f50b94129",
        "name": "Soft Delete Old Document Rows",
        "credentials": {
          "postgres": {
            "id": "AhhYBO8MS8JX6Lew",
            "name": "Postgres account"
          }
        },
        "notes": "Soft-deletes document rows before creating new version"
      },
      {
        "parameters": {
          "model": "text-embedding-3-small",
          "options": {}
        },
        "id": "fb934163-8b0c-4887-9ef7-43eeee3bbf09",
        "name": "Embeddings OpenAI",
        "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
        "typeVersion": 1,
        "position": [
          2912,
          512
        ],
        "credentials": {
          "openAiApi": {
            "id": "RBm19JjNoAkDJgSY",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Embed Vectors",
          "height": 80,
          "width": 208,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2640,
          -160
        ],
        "id": "71b5c825-8027-4b5f-83de-5d6a1ac0dbe3",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "jsCode": "// Get data from Set File ID and Set Tenant Context (GDrive)\nconst setFileId = $('Set File ID').first().json;\nconst tenantContext = $('Set Tenant Context (GDrive)').first().json;\n\n// Return properly structured data for Insert Document Metadata\nreturn {\n  id: setFileId.file_id,\n  title: setFileId.file_title,\n  url: setFileId.file_url,\n  tenant_id: tenantContext.tenant_id,\n  user_id: tenantContext.user_id,\n  created_by: tenantContext.created_by\n};"
        },
        "id": "c6a6109e-83eb-4797-b2ec-11cab08a0101",
        "name": "Prepare Metadata",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -288,
          -512
        ],
        "notes": "Reconstructs data structure for Insert Document Metadata"
      },
      {
        "parameters": {
          "jsCode": "// Debug: After Loop Over Items\nconsole.log('=== After Loop Over Items ===');\nconsole.log('Input keys:', Object.keys($input.item.json));\nconsole.log('Has id?', 'id' in $input.item.json);\nconsole.log('Has name?', 'name' in $input.item.json);\nconsole.log('Sample data:', JSON.stringify($input.item.json).substring(0, 200));\nreturn $input.all();"
        },
        "id": "4907d57b-8406-434e-beeb-9ffb9e98d950",
        "name": "Debug 1 - After Loop",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -560,
          -276
        ],
        "notes": "DEBUG: Check data after Loop Over Items"
      },
      {
        "parameters": {
          "jsCode": "// Debug: After Map Folder to Tenant\nconsole.log('=== After Map Folder to Tenant ===');\nconsole.log('Input keys:', Object.keys($input.item.json));\nconsole.log('Has id?', 'id' in $input.item.json);\nconsole.log('Has tenant_id?', 'tenant_id' in $input.item.json);\nconsole.log('Sample data:', JSON.stringify($input.item.json).substring(0, 200));\nreturn $input.all();"
        },
        "id": "37f987be-8168-4cac-a133-bac758bc1d9f",
        "name": "Debug 2 - After Mapping",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          -276
        ],
        "notes": "DEBUG: Check data after Map Folder to Tenant"
      },
      {
        "parameters": {
          "jsCode": "// Debug: After Set Tenant Context (GDrive)\nconsole.log('=== After Set Tenant Context (GDrive) ===');\nconsole.log('Input keys:', Object.keys($input.item.json));\nconsole.log('Has id?', 'id' in $input.item.json);\nconsole.log('Has tenant_id?', 'tenant_id' in $input.item.json);\nconsole.log('Full data:', JSON.stringify($input.item.json, null, 2));\nreturn $input.all();"
        },
        "id": "c921a438-37a5-4ec1-add8-62e7fba3324e",
        "name": "Debug 3 - After Tenant Context",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -180,
          -276
        ],
        "notes": "DEBUG: Check data after Set Tenant Context"
      }
    ],
    "connections": {
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "RAG AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Download File": {
        "main": [
          [
            {
              "node": "Calculate Content Hash",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Created": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Document Text": {
        "main": [
          [
            {
              "node": "LangChain Code",
              "type": "main",
              "index": 0
            },
            {
              "node": "MCP Client - Add to Knowledge Graph",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI1": {
        "ai_embedding": [
          [
            {
              "node": "Postgres PGVector Store1",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Default Data Loader": {
        "ai_document": [
          [
            {
              "node": "Postgres PGVector Store1",
              "type": "ai_document",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "RAG AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Set File ID": {
        "main": [
          [
            {
              "node": "Soft Delete Old Documents",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "File Updated": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "RAG AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When chat message received": {
        "main": [
          [
            {
              "node": "JWT Validate & Extract Tenant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "JWT Validate & Extract Tenant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract PDF Text": {
        "main": [
          [
            {
              "node": "LangChain Code",
              "type": "main",
              "index": 0
            },
            {
              "node": "MCP Client - Add to Knowledge Graph",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Summarize",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Summarize": {
        "main": [
          [
            {
              "node": "Set Schema",
              "type": "main",
              "index": 0
            },
            {
              "node": "Postgres PGVector Store1",
              "type": "main",
              "index": 0
            },
            {
              "node": "MCP Client - Add to Knowledge Graph",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "RAG AI Agent": {
        "main": [
          [
            {
              "node": "Respond to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Extract from Excel",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract from CSV",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract PDF Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Document Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Extract Document Text",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from Excel": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            },
            {
              "node": "Insert Table Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Schema": {
        "main": [
          [
            {
              "node": "Update Schema for Document Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from CSV": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            },
            {
              "node": "Insert Table Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "List Documents": {
        "ai_tool": [
          [
            {
              "node": "RAG AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Get File Contents": {
        "ai_tool": [
          [
            {
              "node": "RAG AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Query Document Rows": {
        "ai_tool": [
          [
            {
              "node": "RAG AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Embeddings OpenAI2": {
        "ai_embedding": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "ai_embedding",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Debug 1 - After Loop",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert Document Metadata": {
        "main": [
          [
            {
              "node": "Download File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Reranker Cohere": {
        "ai_reranker": [
          [
            {
              "node": "Postgres PGVector Store",
              "type": "ai_reranker",
              "index": 0
            }
          ]
        ]
      },
      "Postgres PGVector Store": {
        "ai_tool": [
          [
            {
              "node": "RAG AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Postgres PGVector Store1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Old Data Rows": {
        "main": [
          [
            {
              "node": "Delete Old Doc Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Old Doc Rows": {
        "main": [
          [
            {
              "node": "Insert Document Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Trashed Files via API": {
        "main": [
          [
            {
              "node": "Parse Trashed Files",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Trashed Files": {
        "main": [
          [
            {
              "node": "Has Files to Delete?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Has Files to Delete?": {
        "main": [
          [
            {
              "node": "Check If Exists in DB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check If Exists in DB": {
        "main": [
          [
            {
              "node": "Exists in DB?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Exists in DB?": {
        "main": [
          [
            {
              "node": "Delete Old Data Rows1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Soft Delete Old Documents (Cleanup)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Every 15 Minutes": {
        "main": [
          [
            {
              "node": "Get Trashed Files via API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Old Data Rows1": {
        "main": [
          [
            {
              "node": "Delete Old Doc Rows1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Old Doc Rows1": {
        "main": [
          [
            {
              "node": "Delete Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Recursive Character Text Splitter": {
        "ai_textSplitter": [
          [
            {
              "node": "Default Data Loader",
              "type": "ai_textSplitter",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "LangChain Code",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "LangChain Code": {
        "main": [
          [
            {
              "node": "Postgres PGVector Store1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Graph Tool": {
        "ai_tool": [
          [
            {
              "node": "RAG AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "JWT Validate & Extract Tenant": {
        "main": [
          [
            {
              "node": "Set Tenant Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Tenant Context": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Map Folder to Tenant": {
        "main": [
          [
            {
              "node": "Debug 2 - After Mapping",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Tenant Context (GDrive)": {
        "main": [
          [
            {
              "node": "Debug 3 - After Tenant Context",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Calculate Content Hash": {
        "main": [
          [
            {
              "node": "Check Existing Version",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Existing Version": {
        "main": [
          [
            {
              "node": "Content Changed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Content Changed?": {
        "main": [
          [
            {
              "node": "Create New Version",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create New Version": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Soft Delete Old Documents (Cleanup)": {
        "main": [
          [
            {
              "node": "Soft Delete Old Doc Rows (Cleanup)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Soft Delete Old Doc Rows (Cleanup)": {
        "main": [
          [
            {
              "node": "Soft Delete Metadata (Cleanup)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Soft Delete Metadata (Cleanup)": {
        "main": [
          []
        ]
      },
      "Soft Delete Old Documents": {
        "main": [
          [
            {
              "node": "Soft Delete Old Document Rows",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Soft Delete Old Document Rows": {
        "main": [
          [
            {
              "node": "Prepare Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Metadata": {
        "main": [
          [
            {
              "node": "Insert Document Metadata",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Debug 1 - After Loop": {
        "main": [
          [
            {
              "node": "Map Folder to Tenant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Debug 2 - After Mapping": {
        "main": [
          [
            {
              "node": "Set Tenant Context (GDrive)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Debug 3 - After Tenant Context": {
        "main": [
          [
            {
              "node": "Set File ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": {
      "node:Check Every 15 Minutes": {
        "recurrenceRules": []
      },
      "node:File Created": {
        "lastTimeChecked": "2025-11-07T18:14:22Z"
      },
      "node:File Updated": {
        "lastTimeChecked": "2025-11-07T18:14:24Z"
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "bdcf109c-a29e-4ab1-b0bf-8a962a362328",
    "triggerCount": 5,
    "tags": [],
    "shared": [
      {
        "createdAt": "2025-11-06T18:36:40.548Z",
        "updatedAt": "2025-11-06T18:36:40.548Z",
        "role": "workflow:owner",
        "workflowId": "aQnmDID5D90HKpH2",
        "projectId": "hSpb8XFcW8w3ehkq",
        "project": {
          "createdAt": "2025-04-20T01:28:24.306Z",
          "updatedAt": "2025-10-24T18:11:33.643Z",
          "id": "hSpb8XFcW8w3ehkq",
          "name": "Project Central <system@cocreatorsgroup.com>",
          "type": "personal",
          "icon": null,
          "description": null
        }
      }
    ]
  }
]